{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="{% static 'todolist/css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<hearder>
    <div class="top-navbar">
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</hearder>
<div class="main-container">
    <div class="left-side-bar">
        {% for l in lists %}
            <ul>
                <li><a href="{{ l.get_absolute_url }}">{{ l }}</a></li>
            </ul>
        {% endfor %}
    </div>
    {% block content %}{% endblock %}
</div>
<script async src="{% static 'todolist/js/main.js' %}"></script>
</body>
</html>