{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="{% static 'todolist/css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<hearder>
    <div class="top-navbar">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Выход</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
        {% endif %}
        </ul>
    </div>
</hearder>
{% block content %}{% endblock %}
<script async src="{% static 'todolist/js/main.js' %}"></script>
</body>
</html>