{% extends 'todolist/base.html' %}

{% block content %}
    <div class="main-container">
        <div class="main-left-block">
            {% block lists %}
                {% for list in lists %}
                    <p>
                        <a href="{% url 'tasks' list.pk %}">{{ list|truncatechars:20 }}</a>
                        <button>Delete</button>
                    </p>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="main-center-block">
            {% block tasks %}{% endblock %}
        </div>
        <div class="main-right-block">
            {% block task_description %}{% endblock %}
        </div>
    </div>
{% endblock %}