{% extends 'todolist/base.html' %}

{% block content %}
    <div class="main-container">
        <div class="lists-left-block">
            {% block lists %}
                {% for list in lists %}
                    <p>
                        <a href="{% url 'tasks' list.pk %}">{{ list|truncatechars:20 }}</a>
                    </p>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="tasks-main-block">
            {% block tasks %}{% endblock %}
        </div>
        <div class="right-description-block">
            {% block task_description %}{% endblock %}
        </div>
    </div>
{% endblock %}