{% extends "todolist/base.html" %}
{% block left-side-bar %}{% endblock %}
{% block content %}
    <div class="register-form-container">
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                    <label class="form-label" for="{{ f.id_for_label }}">
                        {{ f.label }}:<br>
                    </label>
                    {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Регистрация</button>
        </form>
    </div>
{% endblock %}