.register-form-container, .login-form-container {
    text-align: center;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.top-navbar {
    width: 99vw;
    height: 3vw;
}

.top-navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-navbar > ul > li {
    float: left;
}

.top-navbar > ul > li > a {
    display: inline-block;
    padding: 8px;
}

.top-navbar > ul > li > a:hover {
    background-color: beige;
}

li {
    list-style-type: none;
}

a {
    color: #000 !important;
    text-decoration: none
}

.left-side-bar > h3 {
    text-align: center;
}
.right-description > p {
    word-break: break-all;
}