header > ul > li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

header > ul {
    padding: 0;
}

header > ul > li > a {
    text-decoration: none;
    color: #000000;
}

.login-form-container, .register-form-container {
    text-align: center;
}

.main-container {
    display: flex;
    padding: 10px;
}

.main-left-block, .main-center-block, .main-right-block {
    padding: 10px;
    flex: 0 0 33vw;
}