header > ul > li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

header > ul {
    padding: 0;
}

header > ul > li > a {
    text-decoration: none;
    color: #000000;
}

.login-form-container {
    text-align: center;
}

.register-form-container {
    text-align: center;
}